
/* http           ://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License        : none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin          : 0;
  padding         : 0;
  border          : 0;
  font-size       : 100%;
  font            : inherit;
  vertical-align  : baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display         : block; }

body {
  line-height     : 1; }

ol, ul {
  list-style      : none; }

blockquote, q {
  quotes          : none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content         : '';
  content         : none; }

table {
  border-collapse : collapse;
  border-spacing  : 0; }

@font-face {
  font-family: 'sorts_mill_goudy';
  src: url("fonts/sortsmillgoudy-regular-webfont.eot");
  src: url("fonts/sortsmillgoudy-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/sortsmillgoudy-regular-webfont.woff") format("woff"), url("fonts/sortsmillgoudy-regular-webfont.ttf") format("truetype"), url("fonts/sortsmillgoudy-regular-webfont.svg#sorts_mill_goudyregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sorts_mill_goudy';
  src: url("fonts/sortsmillgoudy-italic-webfont.eot");
  src: url("fonts/sortsmillgoudy-italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/sortsmillgoudy-italic-webfont.woff") format("woff"), url("fonts/sortsmillgoudy-italic-webfont.ttf") format("truetype"), url("fonts/sortsmillgoudy-italic-webfont.svg#sorts_mill_goudyitalic") format("svg");
  font-weight: normal;
  font-style: italic;
}
/** Baseline CSS **/

html {
  font-size       : 100%;
  font-family     : Georgia, serif;
}

body {
  background-color: #f9faef;
  color           : #443333; }

h1 {
  font-size       : 2.5em;
  color           : #d94343;
  text-transform  : lowercase;
  font-variant    : small-caps;
}

h2 {
  font-weight     : 700; }

h3 {
  text-transform  : lowercase;
  font-variant    : small-caps;
  font-size       : 1.25em;
}

h2, h4 {
  display         : inline;
}

section {
  margin          : 0 .5em .5em .5em; }

figure {
  display: block;
}

figcaption {
  padding: .25em;
  font-size: .85em;
  font-style: italic;
}

img, object {
  max-width: 100%;
}

ol {
  list-style-type: decimal;
  margin : .5em 0;
  line-height: 1.25em;
}

ol li {
  margin: .5em 2em;
}

sup {
  position : relative;
  top      : -.5em;
  font-size: .75em;
  color    : #888;
  padding  : .125em;
}

/* Re-usable Modules */

.scene {
  line-height     : 1.333em;
  max-width       : 28em;
}
.scene dl {
  width           : 100%;
}
.scene dl dt {
  color           : #222211;
  font-size       : 1.125em;
  text-transform  : lowercase;
  font-variant    : small-caps;
  clear           : left;
}
.scene dl dd {
  margin          : 0 0 .5em 0;
}
.scene em {
  font-size       : .85em;
  margin          : 0 .25em;
}
.glossed .scene {
  line-height     : 1.5em;
}

.stage-direction {
  font-style      : italic;
}
.stage-direction strong {
  text-transform  : lowercase;
  font-variant    : small-caps;
  font-style      : normal;
}
span.stage-direction {
  display         : block;
  float           : none;
}

span.gloss-item {
  border-bottom: 1px dashed #dcc;
}
span.gloss-item:hover,
span.gloss-item:active {
  color: #d94343;
  cursor: pointer;
}

/* Saved gloss item */
span.gloss-item-saved {
  background-color       : #e8e9de;
}

/* Saved glosses holder */
div.saved-glosses {
  background-color       : #e8e9de;
}
div.saved-glosses h3 {
  padding                : .5em;
  cursor                 : pointer;
}
.remove-glosses {
  cursor                 : pointer;
  font-size              : 1.25em;
  padding                : .25em 0;
}
.remove-glosses:before {
  content                : 'x';
  font-size              : .75em;
  margin-right           : .5em;
  color                  : #d94343;
}
div.saved-glosses h3:before {
  display                : inline-block;
  width                  : 1.5em;
  margin-right           : .5em;
  content                : "\25B6";
  font-size              : .5em;
}
div.saved-glosses.open h3:before {
  content: "\25BC";
}
div.saved-glosses dl {
  display                : none;
}
div.saved-glosses dt {
  text-transform         : lowercase;
  font-variant           : small-caps;
  text-indent            : .25em;
  padding                : .25em 0;
  background-color       : #d7d8cd;
}
div.saved-glosses dd {
  background-color       : #e8e9de;
  width                  : 96%;
  padding                : 2%;
  font-style             : italic;
  margin                 : 0;
  font-size              : .875em;
  line-height            : 1.25em;
}

/** Different kinds of lines **/

span.verse {
  clear           : both;
  display         : block;
  text-indent     : -1.5em;
  margin-left     : 1.5em;
}

span.verse-end {
  display         : block;
  float           : right;
  padding-right   : 2em;
  clear           : right;
}

span.song {
  display         : block;
  text-align      : center;
}

/* Glossary styles */
.glossary {
  float : none;
  clear : both;
}

.glossary em {
  font-style : italic;
}

.glossed .glossary {
  display : none;
}

/** Self-styled popups **/

#glossHolder {
  position: absolute;
  z-index: 10000;
  background-color: #fff;
  overflow: hidden;
  border-radius: .5em;
  box-shadow: 0 0 1em #444;
  border: 1px solid #988;
}
.glossTitle {
  border-radius: .5em .5em 0 0;
  padding: .25em;
  background-color: #433;
  color: #fff;
}
.glossContent {
  padding: .5em;
  font-size: .9em;
  line-height: 1.375em;
}
.glossButtons {
  width: 100%;
  height: 55px;
  display: table;
  width: 96%;
  padding-top: .5em;
  margin: 0 2%;
  border-top: 1px solid #eee;
}
.buttonBox {
  width: 50%;
  display: table-cell;
  text-align: center;
}
.saveBox {
  display: none;
}
.saveBox.active {
  display            : table-cell;
}
.glossButton {
  min-width          : 75px;
  display            : inline-block;
  padding            : .5em;
  vertical-align     : middle;
  cursor             : pointer;
  color              : #433;
  background-color   : #f5f5f5;
  text-align         : center;
  border             : 1px solid #cccccc;
  border-color       : rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color       : #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #b3b3b3;
  font-size          : .75em;
  border-radius      : .5em;
  background-image   : -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image   : -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image   : -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image   : linear-gradient(top, #ffffff, #e6e6e6);
  background-image   : -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat  : repeat-x;
}
.glossButton:hover {
  color              : #333333;
  text-decoration    : none;
  background-color   : #e6e6e6;
  background-position: 0 -15px;
}
.glossSaveButton {
  color              : #fff;
  background-color   : #5bb75b;
  background-image   : -ms-linear-gradient(top, #62c462, #51a351);
  background-image   : -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image   : -webkit-linear-gradient(top, #62c462, #51a351);
  background-image   : -o-linear-gradient(top, #62c462, #51a351);
  background-image   : -moz-linear-gradient(top, #62c462, #51a351);
  background-image   : linear-gradient(top, #62c462, #51a351);
  background-repeat  : repeat-x;
  border-color       : #51a351 #51a351 #387038;
  border-color       : rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.glossSaveButton:hover {
  background-color   : #51a351;
  color              : #fff;
}

@media all and (min-width: 50em) {
  html.fontface {
    font-family: "sorts_mill_goudy", Georgia, serif;
    font-weight: normal;
  }
  body {
    font-size: 1.125em;
  }
  h1 {
    font-size: 4em;
  }
  section {
    margin: .5em 1em;
  }
  .scene, .glossed .scene {
    line-height: 1.3333em;
    float: left;
    counter-reset: line-count;
  }
  .scene dl dt, .scene dl em {
    float: left;
    margin-right: .25em;
  }
  .scene dl dd {
    margin: .5em 0 .5em 1.25em;
  }
  span.line {
    counter-increment: line-count;
  }
  span.prose {
    display: block;
    clear: right;
  }
  .glossary ol {
    -moz-column-count   : 2;
    -moz-column-gap     : 1.5em;
    -webkit-column-count: 2;
    -webkit-column-gap  : 1.5em;
    column-count        : 2;
    column-gap          : 1.5em;
  }

  html.generatedcontent span.line-number:after {
    float  : right;
    content: counter(line-count);
    display: inline-block;
  }

  /* Wider-screen saved glosses */
  .saved-glosses {
    position  : relative;
  }
  .saved-glosses h3 {
    box-shadow: 0px 3px 3px #999;
  }
  .saved-glosses dl {
    width     : 28em;
    position  : absolute;
    top       : auto;
    box-shadow: 0px 3px 3px #999;
    z-index   : 500;
    left      : 0;
    border    : 1px solid #999;
    border-top: 0px;
  }
}